#container {
  background: #fff;
  overflow-x: hidden;
}

.share_desktop {
  margin-top: 30px;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 350px;
  top: -20px;
  background: #ffffff;
  border: 1px dashed #d0d5dd;
  border-radius: 50%;
  z-index: 2;
}

.share_mobile {
  display: none;
}

.share_png {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 12px;
}

.user-profile {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

#slack {
  display: none;
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
  margin-bottom: 30px;
}

.twitter {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
  margin-bottom: 30px;
}
.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.link {
  width: 95%;
  height: 76px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaecf0;
  padding: 24px 32px;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  color: #101828;
}

.social-icons {
  width: 30px;
  height: 30px;
  object-fit: cover;
  text-align: center;
}
.icons {
  display: flex;
  /* gap: 20px; */
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.icon {
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .user-profile {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .share_desktop {
    display: none;
    margin-top: 30px;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 30px;
    top: -20px;
    background: #ffffff;
    border: 1px dashed #d0d5dd;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden;
  }

  .share_mobile {
    display: block;
    margin-top: 30px;
    margin-right: 20px;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0px;
    top: -20px;
    background: #f9fafb;
    border: 1px dashed #d0d5dd;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden;
  }

  .share_png {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 15px;
    object-fit: cover;

    /* border: 1.66667px solid #98A2B3; */
  }

  .link {
    width: 100%;
    height: 76px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaecf0;
    padding: 24px 50px;
    border: 1px solid #eaecf0;
    border-radius: 8px;
    color: #101828;
  }

  .social-links {
    margin: 20px;
  }

  .icons {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

}

@media only screen and (min-width: 768px) {
  .user-profile {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .share_desktop {
    margin-top: 30px;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 208px;
    top: -20px;
    background: #ffffff;
    border: 1px dashed #d0d5dd;
    border-radius: 50%;
    z-index: 2;
    overflow: hidden;
  }

  .share_mobile {
    display: none;
  }

  .share_png {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 15px;
    object-fit: cover;

    /* border: 1.66667px solid #98A2B3; */
  }

  .link {
    width: 95%;
    height: 76px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaecf0;
    padding: 24px 50px;
    border: 1px solid #eaecf0;
    border-radius: 8px;
    color: #101828;
  }

  .social-links {
    margin: 50px;
  }

  .icons {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }

  
}
